<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form>
      <label for="name">Full Name: </label>
      <input type="text" placeholder="user name" name="name" required />
      <label for="email">Email: </label>
      <input type="email" placeholder="user email" name="email" required />
      <label for="password">Password: </label>
      <input type="password" placeholder="password" name="password" required />

      <button type="submit">Signup</button>
    </form>
  </body>
</html>
